<h1>My Crypto List</h1>

<table class="table table-striped ">
  <br />
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Rate(per)</th>
      <th>1Hr Rate Change</th>
      <th>24Hr Rate Change</th>
      <th>7 Days Rate change</th>
      <th>Current Value</th>
      <th>Total Cost</th>
      <th>Amount owned</th>
      <th>Profit/Loss</th>
    </tr>
  </thead>

  <tbody>
    <% @currencies.each do |currency| %>
      <% if currency.user_id == current_user.id %>
        <% if currency.symbol %>
          <% currency.symbol = currency.symbol.upcase %>
        <% end %>
        <tr>
        <% for x in @lookup_coin %>         
          <% if currency.symbol == x['symbol'] %>
            <td><%= link_to x['name'], currency %></td> 
            <td>USD$ <%= x['price_usd'] %></td>
            <td><%= x['percent_change_1h'] %>%</td>
            <td><%= x['percent_change_24h'] %>%</td>
            <td><%= x['percent_change_7d'] %>%</td>
            <td>USD$ <%= x['price_usd'].to_d * currency.amount_owned %></td>
            <td><%= currency.cost_per * currency.amount_owned %></td>
            <td><%= currency.amount_owned %></td>
            <td><%= (x['price_usd'].to_d - currency.cost_per) * currency.amount_owned %></td>
            <% @profit_loss += (x['price_usd'].to_d - currency.cost_per) * currency.amount_owned %>
          <% end %>         
        <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<br>
<strong>Portfolio Profit/Loss:</strong> USD<%= number_to_currency(@profit_loss) %>
<br>
<p style='text-align: left'>* You can find more options by click a crpyto name.</p>
<br>
<%= link_to 'Buy New Crypto', new_currency_path, class: "btn btn-primary" %>
